.navbar {
    background-color: pink;
    display: flex;
    justify-content: space-evenly;
}

a {
    text-decoration: none;
    color: red;
}

li {
    list-style-type: none;
    /* background-color: yellow;  */
}

.outer {
    height: 400px;
    width: 400px;
    background-color: cornflowerblue;
    display: flex;
    justify-content: center;   /* use for main axis */
    align-items: center;       /* use for cross axis */
}

.inner {
    height: 100px;
    width: 100px;
    background-color: palegreen;
    /* align-self: flex-start;               last question */
}